@media screen and (max-width:600px){
    
 .left-header{
    margin-left: 30px;
 }


.header{
    width: 599px;





} 
.nav-links ul li{
    display: block;
    color: white;
}
.nav-links{
    position: fixed;
    background-color: rgb(18, 12, 12);
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 5;
    transition: 1s;

}
nav .fa {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
nav-links ul {
    padding: 30px;
}
nav{
    justify-content: space-between;
}
 
}